# Package files
*.jar
*.war
*.nar
*.ear

# Java temporary files
hs_err_pid*

# IDE-specific files
.idea/
.classpath
.project
.settings/
.metadata/

# Build tools
target/
!.mvn/wrapper/maven-wrapper.jar

# Bytecode viewer
.apt_generated

# Local configuration file (if applicable)
local.properties

# External libraries and dependencies (usually managed by build tools)
/lib

# OS-specific files
.DS_Store
Thumbs.db
